/*------------------------------------------------------------------------------------------------------------------------
@package: <%= appname %>

@author: <%= authorName %>
@www: <%= authorURL %>

@copyright: COPYRIGHT <%= currentDate %> <%= authorName %>
@license: <%= license %>

=============================================================================
Filename: main.styl
=============================================================================
This file is responsible for all styles on the <%= appname %> app.
---------------------------------------------------------------------------------------------------------------------
*/

/* =============================================================================
Imports
========================================================================== */
@require "../node_modules/stylus-boilerplate/app/styles/stylus-boilerplate.styl"

/* Overrides */

// fix font path resolving
$fontPath = "../node_modules/stylus-boilerplate/app/fonts/"